<link rel="stylesheet" href="/css/sign_in.css">
<h1>sign in</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="PassWord" required>
    <input type="submit" value="Sign In">
</form>

<p>
    <a href="/users/auth/google"> Google Sign In/Sign Up</a>
</p>