<h1>sign in</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="PassWord" required>
    <input type="submit" value="Sign In">
</form>