<link rel="stylesheet" href="../css/new_comment_mail.css">
<div class="cointaner">
    <p>Hi <%= comment.user.name %> !</p>
    <br>
    <br>
    <p>Your comment <%= comment.user.content %> just post in codial.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>